
@{
    ViewBag.Title = "bagisciol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page_content_wrap">
    <div class="content">
        <article class="post_item post_item_single_courses lesson">
            <section class="post_featured bg_tint_dark">
                <br />
                <div align="center" class="post_thumb" data-image="images/bg/bagis.jpg" data-title="Microsoft Office for your PC">
                    <img alt="Microsoft Office for your PC" src="~/Content/images/bg/bagis.jpg">
                </div>
            </section>
            <div class="content_wrap">
                <section class="post_content">
                    <div class="post_access_denied">
                        <p>Bağış Ekranı Yakında Hizmetinizde Olacaktır..</p>
                        <p>Destek Olmak İstediğiniz İçin Teşekkürler..</p>
                        <div class="post_button">
                            <a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_medium">Bağışçı Ol</a>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>