
@{
    ViewBag.Title = "Hakkında";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="page_content_wrap">
    <div class="content_wrap">
        <div class="content">
            <article class="post_item post_item_single_team post_featured_right team">
                <br />
                <br />
                <section class="post_featured">
                    <div class="post_thumb" data-image="images/profil.jpg" data-title="Emre Karakuş">
                        <a class="hover_icon hover_icon_view" href="~/Content/images/profil.jpg" title="">
                            <img alt="" src="~/Content/images/profil.jpg">
                        </a>
                    </div>
                </section>
                <section class="post_content">
                    <h3 class="sc_title sc_title_iconed margin_top_0 margin_bottom_10">
                        <span class="sc_title_icon sc_title_icon_top  sc_title_icon_small icon-book-2"></span>Biyografi
                    </h3>
                    <h4 class="sc_title sc_title_regular link_color margin_bottom_08em">Emre Karakuş</h4>
                    <div class="sc_section bg_tint_none margin_bottom_1em_imp sc_features_st1">
                        <p>Düzce Üniversitesi | Program Geliştirici</p>
                        <br>Düzce Üniversitesi Bilgisayar Mühendisliği öğrenciliğimin son senesindeyim. Aslen İstanbul'da yaşamaktayım.24 yaşındayım. Düzcenin yerli firmalarından birçoğunda proje aldıktan sonra daha önce planladığım bir hizmeti size sunmak istedim.
                        </p>

                        <p>
                            Email John: <a href="mailto:info@yazokulum.com">info@yazokulum.com</a>
                            <br> Phone: +90-(507)-524-8826
                        </p>
                    </div>
                    <p>
                        Projemiz tamamen Üniversiteli her öğrenciye hitap etmektedir. Herhangi bir bölüm dersinden istediğimiz dersleri ve Üniversiteleri görebilir, onları seçebilir ve fiyat ve ders içeriği karşılaştırabilir. İstenen belgeleri ve bir çok ek bilgiye sahip olabiliriz.
                    </p>
                    <p>
                        <h3>Avantajları nelerdir?</h3>
                        Tabiki kendimiz yapabileceğimiz, ders kayıtları ve ders içerikleri hakkında bilgiyi kendimiz internet ortamından bulacağımız bir hizmetin amacı ne olabilir diye sorabilirsiniz. Fakat tek tek tüm sitelere girip bütün verilere erişmek bazen çok güç olabiliyor. Çoğu üniversitenin içeriğini göremeyebiliyorsunuz. Üniversitelerin yazokullarına kayıt yaptırmak için gereken belgeleri göz ardı edebiliyorsunuz. Bu web sitesi sayesinde hangi üniversitenin yaz okulu için ne kadar kayıt ücretinden tutun ders içeriğinin ne kadar uyuşması gerektiğine kolayca erişebileceksiniz.

                    </p>
                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_top_1em ">
                        <div class="column-1_2 sc_column_item sc_column_item_1 odd first res_width_100per_imp">
                            <h3 class="sc_title sc_title_iconed">
                                <span class="sc_title_icon sc_title_icon_top  sc_title_icon_small icon-graduate-2"></span>Mezuniyete Yardımcı
                            </h3>
                            <ul class="sc_list sc_list_style_iconed">
                                <li class="sc_list_item odd first">
                                    <span class="sc_list_icon icon-dot"></span>
                                    <p>
                                        <span class="sc_highlight link_color"><strong>Uzman görüş desteğiyle sorduğunuz sorulara çözüm</strong></span>
                                        <br> Yaz okullarında eğitim veren hocalara sıkça sorulan sorulardan derlediğimiz <a href="sıkcasorulansorular.html">Sıkça Sorulan Sorular</a> bölümünden erişebilirsiniz.
                                    </p>
                                </li>
                                <li class="sc_list_item even">
                                    <span class="sc_list_icon icon-dot"></span>
                                    <p>
                                        <span class="sc_highlight link_color"><strong>Daha önce o Üniversiteden yazokulu almış öğrenciler</strong></span>
                                        <br> Üniversitelerin yaz okulları hakkında tecrübeli bilgiye sahip öğrenciler sitemizin forum kısmında görüşlerini ve eleştirilerini görebilirsiniz.
                                    </p>
                                </li>

                            </ul>

                        </div>
                        <div class="column-1_2 sc_column_item sc_column_item_2 even res_width_100per_imp">
                            <h3 class="sc_title sc_title_iconed">
                                <span class="sc_title_icon sc_title_icon_top  sc_title_icon_small icon-agenda-2"></span>İstenilen Tüm Veriler
                            </h3>
                            <ul class="sc_list sc_list_style_iconed">
                                <li class="sc_list_item odd first">
                                    <span class="sc_list_icon icon-dot"></span>
                                    <p>
                                        <span class="sc_highlight link_color"><strong>Üniversitenin yaz okuluna ait doldurulması gereken belgeler</strong></span>
                                        <br> Herhangi seçtiğiniz bir üniversitenin yaz okuluna kayıt olmak için bazı belgeler ve formlar istenebilir.
                                    </p>
                                </li>
                                <li class="sc_list_item even">
                                    <span class="sc_list_icon icon-dot"></span>
                                    <p>
                                        <span class="sc_highlight link_color"><strong>Üniversitelerin derslerinin kredi başına düşen fiyatlandırma</strong></span>
                                        <br> "Hangi ders ücreti ne kadar? , ücretin nereye yatması gerekiyor?" gibi soruların cevaplarını bulabilirsiniz.
                                    </p>
                                </li>
                                <li class="sc_list_item odd">
                                    <span class="sc_list_icon icon-dot"></span>
                                    <p>
                                        <span class="sc_highlight link_color"><strong>Ders İçerikleri ve Ders Adları uyuşuyor mu?</strong></span>
                                        <br> Birçok üniversitede ders içerikleri %80 uyuşması ve bazılarında sadece ders adının aynı olması gerekiyor. Bunun gibi verilere de rahatça erişebilirsiniz.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </section>
            </article>
        </div>
    </div>


</div>


